<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleDisplayName</key><string>Ferret</string>
    <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>NSCameraUsageDescription</key><string>Scan Lightning invoice QR codes.</string>
    <key>NSFaceIDUsageDescription</key><string>Unlock your Ferret wallets.</string>
    <key>GIDClientID</key><string>$(FERRET_GOOGLE_IOS_CLIENT_ID)</string>
    <key>CFBundleURLTypes</key><array><dict>
        <key>CFBundleURLSchemes</key><array><string>$(FERRET_GOOGLE_IOS_REVERSED_CLIENT_ID)</string></array>
    </dict></array>
    <key>UILaunchScreen</key><dict/>
</dict></plist>
